

body {
    background-color:white;
    
}


h1 {
font-family:'gochi hand',cursive;
text-align:center;
font-size: 80px;
}


h2 {
    font-family:'gochi hand',cursive;
    text-align:center;
    font-size: 25px;
    }

h3 {
   font-family:'gochi hand',cursive;
    text-align:center;
    font-size: 20px;
    }


p {
    font-family:'gochi hand',cursive;
    text-align:center;
}

li {
    font-family:'gochi hand',cursive;
    text-align:center;
}

a {
    font-family:'gochi hand',cursive;
    text-align:center;
}

a:hover {
    color:rgb(255, 47, 186);
}


.header-box{
height:min-content;
width:100%;
background-color:rgb(0, 0, 0);
color:#fff;
margin: -50px;
padding-right: 50px;
padding-left: 50px;
text-align: center;
}


.lil-explain-box{
    height:min-content;
    width:100%;
    background-color: black;
    color:white;
    margin:-10px;
    padding-left:50px;
    padding-right:50px;
    margin-bottom:30px;
    text-align:center;
    font-family:'gochi hand',cursive;
    font-size: 30px;

}

.blog-box {
 border-style:solid;
 border-color:black;
 border-width:10px;
 padding:5px;
 height:max-content;
 /*width: 550px;*/
margin-left: 300px;
text-align: center;
background-color:white; 
align-content: center;

}

img{
    max-width:100%;
    max-height:100%;
}

.photo-box{
    border-style:solid;
    border-color:black;
    border-width:10px;
    padding:5px;
    height: 200px;
    width:200px;
    background-color:white;
    
}

.blog-link-box{
    border-style:solid;
    border-color:black;
    border-width:10px;
    padding:5px;
    height:20px;
    /*width:200px;*/
    background-color:white;
    text-align: left;

}


.float-container {  
    border: 3px solid #fff,
    padding: 20px;
}


.float-child1{
float:left;
padding: 20px;
}

.float-child2{
    width: 50%;
    float:right;
    padding: 20px;
}


/*attempt to make responsive - this almost works, but something missing? stacking element?*/
@media (max-width: 700px){
    .float-child1, .blog-box, .float-child2{
        float:left;
    }
}


#penelotree{
    max-width:10%;
    max-height:10%;
}

#penelotree-w-padding{
    padding: 2%;
    max-width:10%;
    max-height:10%;
    background:aqua;
}

#penelotree-w-padding-border{
    border-style: solid;
    border-color: black;
    border-width:2%;
    padding: 2%;
    max-width:10%;
    max-height:10%;
    background:aqua;
}



#penelotree-w-padding-border-margin{
    border-style: solid;
    border-color: black;
    border-width:10%; 
    max-width:20%;
    max-height: 20%;  
}